body { color: black; background-color: white; 
	margin: 60px; margin-bottom: 60px; padding:60px; 
	max-width: none; margin-right: auto; margin-left: auto;
	text-align: center;
	font-family: "palantino","caslon","sabon","bembo",serif; }

