body { color: black; background-color: white; 
	margin-top: 60px; margin-bottom: 60px; 
	max-width: 691px; margin-right: auto; margin-left: auto;
	text-align: justify;
	font-family: "palantino","caslon","sabon","bembo",serif; }


h1,h2,h3,h4,h5,h6,dt,li{ 
	font-family: "futura","univers","helvetica",sans-serif; 
	font-weight: bold; padding: 0px; margin: 0px; }
h1 { font-size: 40px; text-align: center}
h2 { font-size: 28px; text-align: center}
h3 { font-size: 24px; text-align: center}
p,ol { font-family: verdana; font-size: 14px; font-weight: normal; margin-top: 0px;}
a {text-decoration: none; color: #555555; }
pre, a:hover {background-color:black; color: white;}
div,img { margin: 0}
ul {list-style-type:square}

.page_width { width:691px; }
.selected { background-color:black; color: white; }
.left { float: left; }

#header {  height: 272px; background: url(../assets/trees.gif) scroll 0 -65px; position:relative }
#header #under-header {height:127px; padding-top: 145px; background: white; opacity: 0.4;
	position:absolute; bottom: 0px; z-index: 1; }
#header #header-container { text-align: right;  position:absolute; 
	bottom: 0px; z-index: 2; display:inline-block; width:inherit; color: #949494; }
#header .header-text { text-align: right; vertical-align:top;}
#header #name {  line-height:42px; height: 43px; letter-spacing: 14px }
#header #email {  line-height:18px; height: 21px;  padding-right: 17px}
#header #space { height:10px;  background: white; margin-top:65px}
#header #nav-bar { height: 53px;}

#header #nav-bar .tab  { float:left; position:relative; padding:10px 14px 10px 14px ;}
#header #nav-bar .tab:hover  { background-color:black; color: white; }
#header #nav-bar .selected  { background-color:black; color: white; }

#body{ min-height: 280px; padding-top: 20px }
#body .post { padding-bottom: 10px; }
#body .media {text-align: center; }
#body audio {width: 425px; }

#footer { height: 53px; background: url(../assets/trees.gif) scroll 0 53px;}
#footer .copyright { float:right; position:relative; color: #777777; padding:19px 14px;}

