body { color: black; background-color: white; 
	margin-top: 60px; margin-bottom: 60px; 
	max-width: 691px; margin-right: auto; margin-left: auto;
	text-align: justify;
	font-family: "palantino","caslon","sabon","bembo",serif; }


h1,h2,h3,h4,h5,h6,dt{ 
	font-family: "futura","univers","helvetica",sans-serif; 
	font-weight: bold; padding: 0px; margin: 0px; }
h1 { font-size: 40px; text-align: center}
h2 { font-size: 28px; text-align: center}
h3 { font-size: 24px; text-align: center}
p { font-family: verdana; font-size: 14px; font-weight: normal; margin-top: 0px;}
a {text-decoration: none; color: #555555; }
a:hover {background-color:black; color: white;}
div,img { margin: 0}
.page_width { width:691px; }

#header {  height: 202px; background: url(../assets/header.jpg);}
#nav-bar { height: 53px; background: url(../assets/sub-header.jpg); margin-top:10px; display: block; }

#nav-bar .tab  { float:left; position:relative; color: #a0a0a0; padding:10px 14px 10px 14px ;}
#nav-bar .tab:hover  { background-color:black; color: white; }
#nav-bar .selected  { background-color:black; color: white; }

#body{ min-height: 280px; padding: 20px 5px; }
#body .post { padding-bottom: 25px; }
#body .img {text-align: center; }

#footer { height: 53px; background: url(../assets/footer.jpg); }
#footer .copyright { float:right; position:relative; color: #a0a0a0; padding:19px 14px;}

